---
import { ViewTransitions } from "astro:transitions";

export const links = [
	{
		title: "linkedin",
		link: "https://www.linkedin.com/in/sarah-r-8676a0103/",
		target: "_blank",
	},
	{
		title: "contact me",
		link: "mailto:skracker@gmail.com?subject=re:%20your%20website&body=Hi%20Sarah!",
		target: "_blank",
	},
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<link rel="stylesheet" href="https://use.typekit.net/nwq5dks.css" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="generator" content={Astro.generator} />
		<title>sarah otoya</title>
		<ViewTransitions />
	</head>

	<body class="mx-auto font-sans max-w-7xl text-black-400">
		<main class="px-4 pt-8 md:px-8">
			<h1 class="mb-5 ml-8 text-4xl font-bold font-kopik w-fit md:ml-10">
				<a class="group" href="/">
					sarah <span class="inline-flex pb-2 animate-underline">racker</span>
					 otoya
				</a>
			</h1>
			<slot />
		</main>
		<footer
			class="flex pt-8 pb-10 flex-col sm:flex-row sm:justify-between px-14 md:px-[4.5rem]"
		>
			<div>
				<a href="/">
					<p class="font-semibold font-kopik">sarah racker otoya • designer</p>
				</a>
				<p class="text-black-400/50">
					website designed by me, coded by my husband
				</p>
			</div>

			<div class="flex gap-5">
				{
					links.map((link) => (
						<a
							href={link.link}
							target={link.target}
							class="underline hover:text-yellow-700 transition-colors"
						>
							{link.title}
						</a>
					))
				}
			</div>
		</footer>
		<style is:global>
			.animate-underline {
				overflow: hidden;
				position: relative;
			}

			.animate-underline::after {
				content: "";
				position: absolute;
				bottom: 0;
				margin-top: 40px;
				width: 100%;
				height: 4px;
				background-color: rgb(248 213 97);
				transition:
					opacity 300ms,
					transform 300ms;
				opacity: 1;
				transform: translate3d(-100%, 0, 0);
			}

			.group:hover .animate-underline::after {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		</style>
	</body>
</html>
