---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>sarah otoya</title>
	</head>
	<body>
		<main class="p-8">
			<h1 class="px-10 mb-5 text-2xl font-semibold">sarah otoya</h1>
			<slot />
		</main>
	</body>
	<footer class="px-[4.5rem]">
		<p class="font-semibold">sarah otoya • designer</p>
		<p class="text-[#272727]/50">website coded by my husband</p>
	</footer>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
</style>
